<pre>
Objectives

    Create a responsive dashboard accessible from both a desktop/mobile device that displays the data. Examples:

        Table of data with search, filter, sorting, and pagination
        Graphs to help guide the user to a conclusion about the data

    Use Angular for the front-end and  back-end code if necessary 
    Unit Testing, Linting implemented
    Check in the code to your personal GitHub account.

 

Extra Points

    Push data into a database of your choice
    Continuous Integration/Continuous Deployment features set up (CI/CD)

        E.g. CircleCI, Travis, GCP Cloud Build, Github Actions, etc.

    Authentication implemented so that only authenticated users are capable of accessing the dashboard.
    Deploy the application in Google Cloud (Use free tier with new account setup)

        Preferably you can use managed services (App Engine, Cloud Run, CloudSQL, etc.)
</pre>
<br />
<button pButton label="Login to see the dashboard" icon="pi pi-user" routerLink="/register"></button>
