:host {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  padding: 20px;
}

p-button {
  margin: 0 5px 15px 0;
}

ol {
  padding: 3px;
}

.widget{
    overflow:auto;
}

.image-text{
    font-weight:bold;
}

.image{
    padding-right:8px;
}
